.container-md {
  margin-top: 40px;
}

.customize-dropdown {
  background-color: white;
  border: 0;
  border-radius: var(--bs-border-radius);
}
.frame {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.input-group
  > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(
    .valid-feedback
  ):not(.invalid-tooltip):not(.invalid-feedback) {
  border: 0;
}
.dropdown-toggle:empty::after {
  margin-right: 20px;
}

.main-section {
  margin-top: 40px;
}

.dropdown-menu.show {
  width: inherit;
}

.card-img-top {
  width: 50px;
  height: 50px;
}
.border-primary .row .col {
  text-align: center;
  width: 100%;
  align-items: center;
}

.border-primary .row .col .card-title {
  margin-bottom: 0;
}

.card-body .card-text {
  display: inline-block;
  overflow: hidden;
}

*:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}
